.chat{
    flex: .65;
    /* background-color:gray; */
    display: flex;
    flex-direction: column;
    min-width: 400px;
}
.chat__header{
    padding: 26px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    min-width: 400px;
}
.chat__headerInfo{
    flex: 1px;
    padding-left: 20px;
}
.chat__headerInfo>h3{
    margin-bottom: 3px;
    font-weight: 500;
}
.chat__headerInfo>p{
    color: gray;
}
.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.chat__body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png")    ;
    padding: 30px;
    background-repeat:repeat ;
    background-position: center;
    overflow-y: scroll;
    
}
.chat__body::-webkit-scrollbar {
    display: none;
}
.chat__message{
    position: relative;
    background-color: #ffff;
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    display: block;
    max-width: 500px;
}
.chat__name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat__receiver{
    margin-left: auto;
    background-color:#dcf8c6 ;
}
.chat__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat__footer >form{
    flex: 1;
    display: flex;
    /* background-color: blue; */
}
.chat__footer >form>input{
    flex: 1;
    border-radius: 30px;
    border:none;
    padding: 10px;
}
.chat__footer >form>button{
    display: none;
}
.chat__footer> .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    height: auto !important;
    background-color: #dcf8c6 !important;
}
.css-hlj6pa-MuiDialogActions-root{
    display: flex !important;
    justify-content: center !important;
}
.css-ypiqx9-MuiDialogContent-root{
    overflow-y: hidden !important;
}
.css-hlj6pa-MuiDialogActions-root>button{
    background-color: rgb(245, 20, 20);
    color: white;
}
.css-hlj6pa-MuiDialogActions-root>button:hover{
    background-color: red;
}