.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat__info{
    margin-left: 15px;
}
.sidebarChat__info>p{
  height: 10px;
  width: 200px;
  font-size: 10px;
  overflow-y: hidden;
}
a{
     text-decoration: none !important;
     color:black
}
.SidebarChat__info>button{
    color: gray !important;
}
#file{
    display: none;
}
input:focus{
    outline: none;
}
/* .css-1z10yd4-MuiFormControl-root-MuiTextField-root{ */
    /* margin-top: -20px !important; */
/* } */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    min-width: 300px !important;
    height: 300px !important;
    background-color: rgba(232, 246, 247, 0.6) !important;
}
.SidebarChat__info > button{
    font-weight: 800 !important;
    color: black !important;
}
#create__cancel{
    background-color: rgb(243, 42, 42) !important;
}
#create__submit{
    background-color: rgb(88, 235, 88) !important;
    color: black !important;
}